:root {
	--app-bg: url(https://i.imgur.com/gg7AvG3.gif);
	--app-blur: 2px;
	--app-margin: 24px;
	--app-radius: 4px; /*	-	*/
	
	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-opacity: 1;s
	--accent-text-color: #5eff20; /*	-	*/

	--sidebar-color: rgba(0,15,122,0.5);
	--main-content-color: rgba(0,15,122,0.1); /*	-	*/

	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 100; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #5683ff;
	--textarea-radius: 20px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

}
